################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RealEstateWebApi/.vs/RealEstateWebApi/v15/Server/sqlite3
/RealEstateWebApi/.vs/RealEstateWebApi/v15
/RealEstateWebApi/RealEstateWebApi/bin/Debug/netcoreapp2.0
/RealEstateWebApi/RealEstateWebApi/obj
/.vs/RealEstate/v15
/.vs
